streamlit
openai==0.28.0
python-docx
requests
beautifulsoup4
PyMuPDF
pyarabic
tenacity
arabic_reshaper
python-bidi
fpdf
deep-translator
PyPDF2
langchain==0.0.1
langchain_community
pytesseract
Pillow
pdfplumber
langchain_openai
