streamlit
openai>=1.6.1,<2.0.0
python-docx
requests
beautifulsoup4
PyMuPDF
pyarabic
tenacity
arabic_reshaper
python-bidi
fpdf
deep-translator
PyPDF2
langchain==0.0.1
langchain_community==0.2.10
pytesseract
Pillow
pdfplumber
langchain_openai==0.1.23
pydantic==1.10.7
